<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orane.icliniq">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS " />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/newlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDarkActionBar"
        tools:replace="android:icon">
        <activity
            android:name=".SevenDayChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ThemeActivity" />
        <activity
            android:name=".wellness.WellnessDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wellness.WellnessView"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/app_color" /> <!-- <service android:name=".MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name=".fileattach_library.ExtendedFileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="Kdid-IfMS7M48LTEZCTgRKFIoaJPt-gCcOqbgUy8cIDlegzCuRuJn7bZiwzauenU1a4i40rgJ2PykN9bp1vZ8U" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Answeres_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chime.InMeetingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".chime.MeetingHomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Voxeet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Voxeet_New"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Invoice_Page_New"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Comments_ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ratting_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Offers_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpandableActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Offers_List_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Referal_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Prescriptions_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Prescription_Entry_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SomeoneEdit_Dialog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewActivity_Persona"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Attachment_Screen_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CenterFabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Labtest_WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OTPActivity_PromoCode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FamilyProfileListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Prelogin_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doc_Consultation_Screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Attachment_WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Image_Preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Labtest.Labtest_tabs_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Video_WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_FamilyProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
<activity
            android:name=".Invoice_Page_New"

            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".Labtest.TestListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stripewebview_Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Attached_List_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InboxActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Inbox_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Manage_Subscriptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Prescription_WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Labtest.Labtest_Beneficiary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Labtest.Labtest_CartViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Agencies_List_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyDoctorsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".attachment_view.GridViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Instant_Chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WalletTransactions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".walletdetails.WalletDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".walletdetails.ViewAllTransactions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QADetailNew"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Search_Screen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ArticleViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parallex.ParallexMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Webview_Facebook_Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QueryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ForgotPwdActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Sqlite.NotificationListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OTPSignupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OTPActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NotificationViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Invite_doctors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".File_Upload_Screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotlineHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Consultation_Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrePackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".zoom.Video_Calling_Activity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".zoom.Consultation_View"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThankyouActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotlinePackagesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UploadToHotlineServer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotlineChatViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HotlineDoctorsQueriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotlineDoctorsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doc_Consultation1"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Consultation2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FileChooserBookingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UploadBookingToServer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookingViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookingListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsultationListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Consultation1"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Consultation3"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TimeZoneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoctorProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SubscriptionPackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QueryViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Patient_Profile_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <!--
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <!--
        <activity
                    android:name="com.paytm.pgsdk.PaytmPGActivity"
                    android:configChanges="keyboardHidden|orientation|keyboard"
                    android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".DoctorsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FileChooserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        <activity
                    android:name=".ArticleDetailActivity"
                    android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NotificationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareToFriends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Terms_WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Deeplinks.DeepLinkActivityVideoCons"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.icliniq.com"
                    android:pathPrefix="/meeting"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Deeplinks.DeepLinkActivityPwd"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.icliniq.com"
                    android:pathPrefix="/users"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Deeplinks.DeepLinkActivityArticles"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.icliniq.com"
                    android:pathPrefix="/articles"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Deeplinks.DeepLinkActivityQA"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.icliniq.com"
                    android:pathPrefix="/qa"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!--
         <activity
             android:name=".Deeplinks.DeepLinkActivityAskDoctor"
             android:theme="@style/AppTheme.NoActionBar">

             <intent-filter>
                 <action android:name="android.intent.action.VIEW"/>
                 <category android:name="android.intent.category.DEFAULT"/>
                 <category android:name="android.intent.category.BROWSABLE"/>
                 <data
                     android:host="www.icliniq.com"
                     android:pathPrefix="/ask-a-doctor-online"
                     android:scheme="https"/>
             </intent-filter>

         </activity>
        -->
        <activity
            android:name=".SpecialityListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewArticleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        <activity
                    android:name=".MyWalletActivity"
                    android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".AskQuery1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQuery2"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cc53deb84851c3c6ee51f3c400c51e251432482b" />
        <!--
        <receiver
                    android:name="com.google.android.gms.gcm.GcmReceiver"
                    android:exported="true"
                    android:permission="com.google.android.c2dm.permission.SEND">
                    <intent-filter>
                        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                        <category android:name="com.orane.icliniq" />
                    </intent-filter>
                </receiver>
        -->
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <!--
   <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.orane.docassist" />
            </intent-filter>
        </receiver>
        -->
        <!--
  <receiver
              android:name="com.google.android.gms.analytics.AnalyticsReceiver"
              android:enabled="true">
              <intent-filter>
                  <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
              </intent-filter>
          </receiver>

          <service
              android:name="com.google.android.gms.analytics.AnalyticsService"
              android:enabled="true"
              android:exported="false" />

          <service
              android:name="com.google.android.gms.analytics.CampaignTrackingService"
              android:enabled="true" />


          &lt;!&ndash; Enable Google Play Store Campaign reports &ndash;&gt;
          <receiver
              android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
              android:enabled="true"
              android:exported="true">
              <intent-filter>
                  <action android:name="com.android.vending.INSTALL_REFERRER" />
              </intent-filter>
          </receiver>
        -->
        <receiver android:name=".SmsBroadcastReceiver">
            <intent-filter>
                <action
                    android:name="android.provider.Telephony.SMS_RECEIVED"
                    android:priority="2147483647" />
            </intent-filter>
        </receiver>
    </application>

</manifest>